@import "tailwindcss";

@theme {
  --color-bg: #111827;
  --color-card: #1f2937;
  --color-primary: #f9fafb;
  --color-secondary: #9ca3af;
  --color-accent: #38bdf8;

  --font-family-poppins: "Poppins", sans-serif;
}

/* Cores de texto globais */
body {
  color: theme(--color-primary);
}

.text-primary {
  color: theme(--color-primary);
}

.text-secondary {
  color: theme(--color-secondary);
}

.text-accent {
  color: theme(--color-accent);
}
